# Only for Arch

# essential

# functional
zathura zathura-pdf-mupdf
zoxide fzf stow fastfetch
dmenu
fcitx5
bluez bluez-utils
firefox noto-fonts noto-fonts-cjk
pipewire pipewire-jack wireplumber pipewire-audio
feh

# optional
discord
